# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build cache
*.test
*.out

# Dependency directories
/vendor/
bin/
dist/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*     # e.g. .env.dev, .env.prod

# Logs
*.log